{% extends 'base.html.twig' %}

{% block body %}
<form class="categories" style="width:50%;">

    <category>
        <div class="content"> </div>
            <h4>Titre : </h4> {{category.title}} <br>
            <h4>Description : </h4> {{category.description}} <br>
            <br>
            <br>
            <br>
            <a href="{{ path('editCategory', {'id': category.id }) }}" class="btn btn-primary">Modifier </a>
            <a href="{{ path('removeCategory', {'id': category.id }) }}" class="btn btn-primary">Supprimer </a>
            <a href="{{ path('categoryConfig') }}" class="btn btn-primary">Précédent </a>
        </div>
    </category>

</form>
{% endblock %}