{% extends 'base.html.twig' %}

{% block title %}Index {% endblock %}

{% block body %}

<section class="categories">
    {% for category in categories %}            
        <a href="{{ path('index_show', {'category' : category.Title }) }}" class="btn btn-primary" style="margin-left: 10px; margin-top: 15px;">{{category.Title}}</a>    
    {% endfor %}

    <a href="{{ path('book') }}" class="btn btn-primary" style="float:right; margin-left: 30px; margin-top: 10px;">Toutes les catégories</a>
</section>

<a href="{{ path('categoryConfig') }}" class="btn btn-primary " style="float:right; background-color:grey; margin-left: 10px; margin-top: 10px;">Configuration des catégories</a>


<section class="readingSheets">

    {% for readingSheet in readingSheets %}
        <book style="display:inline-block; margin-left: 20px; margin-right: 60px; margin-top: 80px;">
            <h2>{{readingSheet.title}}</h2>
            <div class="metadata"> 
                Auteur : {{readingSheet.author}} <br>
                Pages : {{readingSheet.pagesnumber}} <br>
                Editeur : {{readingSheet.editor}} <br>
            </div>
            <div class="content"> </div>
                <br>
                <a href="{{ path('book_show', {'id': readingSheet.id}) }}" class="btn btn-primary">Lire la suite </a>
            </div>
        </book>

    {% endfor %}

</section>

<a href="{{path('addBook')}}" > 
    <button type="button" class="btn btn-primary" style="float:right; background-color:grey; margin-left: 30px; margin-top: 30px;">Ajouter une fiche de lecture</button> 
</a>
{% endblock %}
