{% extends 'base.html.twig' %}

{% block body %}
<section class="readingSheets">
    <readingSheet>
        <h2>{{readingSheet.title}}</h2>
        <div class="metadata"> 
            <h4>Auteur :</h4> {{readingSheet.author}} <br>
            <h4>Pages : </h4> {{readingSheet.pagesnumber}} <br>
            <h4>Editeur : </h4> {{readingSheet.editor}} <br>
            <h4>Date d'édition :</h4> {{readingSheet.editiondate}} <br>
            <h4>Collection : </h4> {{readingSheet.collection}} <br>
            <h4>Langue originale : </h4> {{readingSheet.originallanguage}} 
        </div>
        <div class="content"> </div>
            <h4>Personnages principaux : </h4> {{readingSheet.maincharacters}} <br>
            <h4>Résumé : </h4> {{readingSheet.summary}} <br>
            <h4>Extrait favori : </h4> {{readingSheet.enjoyedextract}} <br>
            <h4>Analyse critique : </h4> {{readingSheet.criticalanalysis}}
            <br>
            <br>
            <br>
            <a href="{{ path('editbook', {'id': readingSheet.id }) }}" class="btn btn-primary">Modifier </a>
            <a href="{{ path('removebook', {'id': readingSheet.id }) }}" class="btn btn-primary">Supprimer </a>
            <a href="{{ path('book') }}" class="btn btn-primary">Précédent </a>
        </div>
    </readingSheet>
</section>
{% endblock %}